@media (min-width: 992px) {
   .accordion-margin {
        padding: 6rem;
   } 
}

.accordion-button:focus {
   box-shadow: 0 0 0 .25rem #FFF !important;
}

.accordion-button, .accordion-body {
   padding-right: 0;
   padding-left: 0;
}

@media (max-width: 992px) {
   .accordion, .accordion-margin section {
      padding: 0 !important;
 } 

 .accordion-button, .accordion-body {
   font-weight: 300;
 }
   }