.swiper {
    width: 100%;
    height: 300px;
    margin-bottom: 96px;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-button-next {
        transform: scale(2.8);
        right: 4rem !important;
        top: 15rem !important;
    }
    
    @media (min-width: 992px) {
        .swiper-wrapper {
            position: relative;
            left: 6.5rem;
        }
    
        .swiper-button-next {
            transform: scale(3.5);
            right: 11% !important;
            top: 50% !important
        }
    
    }
}








