footer {
    width: 100vw;
    height: 36em;
    background: linear-gradient(180deg, #FF4D54 11.72%, #CC3E43 100%);
    padding-top: 80px;
    padding-right: 6em;
    padding-left: 6em;

    .footer--ul {
        display: block;
        line-height: 1.8;
        width: 10rem;
    }
}

.privacy-blurb {
    justify-content: space-between;
    p {
        width: 10rem;
        margin-right: 1.5rem;
    }
}

.blurb {
    display: flex;
    justify-content: space-between !important;
}

@media (max-width: 992px) {
    footer {
        height: 33em;
        padding-top: 50px;
        padding-right: 0;
        padding-left: 0;

        .footer--logo {
            margin-top: 91px;
            margin-bottom: 49px;
        }

        .footer--legal {
            flex-direction: column !important;
        }

        .blurb {
            display: none;
        }

        .privacy-blurb {
            justify-content: flex-start;

            p {
                width: initial;
            }
        }
    }

}